@charset "UTF-8";

#page-give-classes #container {
    width: 100vw; /* largura */
    height: 100vh; /* altura */
}

#page-give-classes .page-header .header-content {
    margin-bottom: 6.4rem;
}


#page-give-classes main {
    background: var(--color-box-base);
    width: 100%; /* largura */
    max-width: 74rem; /* largura maxíma */
    border-radius: 0.8rem; /* arredondamento */
    margin: -3.2rem auto 3.2rem; /* margem externa */
    padding-top: 6.4rem; /* preenchimento superior */
}

#page-give-classes fieldset {
    border: none; /* retira as bordas */
    padding: 0 2.4rem; /* preenchimento interno */
}

#page-give-classes fieldset legend {
    font: 700 2.4rem Archivo; /* configurações da fonte de maneira resumida */
    color: var(--color-text-title);
    margin-bottom: 2.4rem; /* margem externa inferior */

    display: flex;
    align-items: center;
    justify-content: space-between; /* justifica cada objeto em um canto */

    width: 100%; /* largura */
    padding-bottom: 1.6rem; /* preenchimento interno inferior */
    border-bottom: 1px solid var(--color-line-in-white);

}

#page-give-classes fieldset legend button {
    background: none; /* retira a cor do fundo */
    border: 0; /* retira a borda */
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
    cursor: pointer; 
    transition: 0.2s;
}

#page-give-classes fieldset legend button:hover {
    transform: translateY(-5px); /* movimenta o objeto na vertical */
    color: var(--color-primary-dark);
}

#page-give-classes fieldset+fieldset {
    margin-top: 6.4rem;
}

#page-give-classes .input-block+.input-block,
#page-give-classes .input-block+.textarea-block,
#page-give-classes .select-block+.input-block {
    margin-top: 2.4rem;
}

#page-give-classes main footer{
    padding: 4rem 2.4rem;

    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
}

#page-give-classes main footer p img {
    margin-right: 2rem;
}

#page-give-classes main footer button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 3.2rem;
}

#page-give-classes main footer button:hover {
    transform: translateY(-5px);
    background: var(--color-secondary-dark);
}

#page-give-classes main footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;

    color: var(--color-text-complement);
}

.schedule-item+.schedule-item {
    margin-top: 3.2rem;
    padding-top: 3.2rem;

    border-top: 1px solid var(--color-line-in-white);
}

@media (min-width: 700px) {
    #page-give-classes #container {
        max-width: 100vw; /* largura maxíma */
    }

    #page-give-classes .page-header .header-content {
        margin-bottom: 0;
    }

    #page-give-classes main fieldset {
        padding: 0 64px;
    }

    .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }

    #page-give-classes #schedule-items .select-block+.input-block,
    #page-give-classes #schedule-items .input-block+.input-block{
        margin-top: 0;
    }

    #page-give-classes main footer {
        padding: 40px 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-give-classes main footer button {
        margin-top: 0;
        width: 200px;
    }
}