<!DOCTYPE html> <!-- Diz para o navegador que este arquivo esta em html 5 -->
<html lang="pt-br"> <!-- lang é um atributo -->
    <head> <!-- Toda configurações do documento -->
        <meta charset="UTF-8"> <!-- O meta serve para determinar propriedades para a tela -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#8257E5">
        <link rel="shortcut icon" href="_images/favicon.png" type="image/png"> <!-- Ícone da guia -->
        <link rel="stylesheet" href="_style/main.css">
        <link rel="stylesheet" href="_style/partials/page-landing.css">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
        <title>Proffy | Sua plataforma de estudos online</title>
    </head>

    <body id="page-landing"> <!-- Todo conteúdo visível da página deverá vir na tag body -->
        <div id="container"> <!--Elemento que armazena todos os outros elementos -->
            
            <div class="logo-container">
                <img src="_images/logo.svg" alt="Poffy">
                <h2>Sua plataforma de estudos online.</h2>
            </div>

            <img class="hero-image" src="_images/landing.svg" alt="Plataforma de estudos">

            <div class="buttons-container">
                <a class="study" href="/study">
                    <img src="_images/icons/study.svg" alt="Estudar">
                    Estudar
                </a>

                <a class="give-classes" href="/give-classes">
                    <img src="_images/icons/give-classes.svg" alt="Dar aulas">
                    Dar aulas
                </a>
            </div>

            <p class="total-connections">
                Total de 200 conexões já realizadas <img src="_images/icons/purple-heart.svg" alt="Coração roxo">
            </p>

        </div>
    </body>
</html>

